.para{
    background-color: aquamarine;
    color:blueviolet;
    font-size: large;
    text-align: center;
}

.content{
    background-color: red;
    color:white;
    font-size: large;
    text-align: center;
}