/* .para{
    background-color: aquamarine;
    color:blueviolet;
    font-size: large;
    text-align: center;
}

.content{
    background-color: red;
    color:white;
    font-size: large;
    text-align: center;
} */

/* button{
    background-color: black;
    height:100px;
    width :200px;
    color:white;
    

} */

/* .box{
    height:50px;
    width:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3,4,5);
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    
} */

/* .container{
    background-color: black;
    height:200px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.thumbnail{
    height:180px;
    width:300px;
    background-color: white;
    border-radius: 10px;
    margin-left:10px;
}
.text{
    height:180px;
    width:80%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;

}
.title{
    background-color:black;
    color:rgba(255, 255, 255, 0.833);
    height:50%;
    width:95%;
    display:flex;
    justify-content: start;
    align-items: center;
    font-size: 40px;
    font-weight: 900;

}
.subtitle{
    background-color:black;
    height:50%;
    width:95%;
    color:rgba(255, 255, 255, 0.45);
    display:flex;
    justify-content: start;
    align-items: start;
    gap:10px;
}
.duration{
    width:60px;
    height:20px;
    position:absolute;
    top:150px;
    left:230px;
    color:white;
    background-color: black;
    z-index: 2;
}
img{
    width:100%;
    height: 100%;
    padding:0px;
} */