/* .para{
    background-color: aquamarine;
    color:blueviolet;
    font-size: large;
    text-align: center;
}

.content{
    background-color: red;
    color:white;
    font-size: large;
    text-align: center;
} */

button{
    background-color: black;
    height:100px;
    width :200px;
    color:white;
    

}